$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-100;

$sidebar-color: $grey-lt-100;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: $purple-100 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;
