---
layout: default
---
<div class="gallery-container">
<img src="assets/gallery/lhcb.png" alt="The LHCb experiment (courtesy of CERN)">
<img src="assets/gallery/cms.png"  alt="The CMS experiment (courtesy of CERN)">
</div>
{{ content }}

 <!--
 create mode 100644 assets/gallery/20190712_164936 copia.jpg
 create mode 100644 assets/gallery/20211020_150357.jpg
 create mode 100644 assets/gallery/202208-129__415.jpg
 create mode 100644 assets/gallery/20230426_110043.jpg
 create mode 100644 assets/gallery/DSC_0211.JPG
 create mode 100644 assets/gallery/H5A3_lateral.jpg
 create mode 100644 assets/gallery/Pigtails_blocking_stave_supports_2.jpg
 create mode 100644 assets/gallery/Twocryst_RP2.png
 create mode 100644 assets/gallery/UT.png
 create mode 100644 assets/gallery/alice.png
 create mode 100644 assets/gallery/cms.png
 create mode 100644 assets/gallery/dalle.png
 delete mode 100644 assets/gallery/info.txt
 create mode 100644 assets/gallery/lhcb.png
 create mode 100644 assets/gallery/pentaquarks.png
 create mode 100644 assets/gallery/sigmab.png
 create mode 100644 assets/gallery/sym.png
 -->
