---
layout: default
---
{{ content }}

<div class="gallery-container">
<img src="assets/gallery/alice.png" alt="The ALICE experiment (courtesy of CERN)">
<img src="assets/gallery/cms.png" alt="The CMS experiment (courtesy of CERN)">
<img src="assets/gallery/lhcb.png" alt="The LHCb experiment (courtesy of CERN)">
<img src="assets/gallery/dalle.png" alt="AI generated images on particle physics">
<img src="assets/gallery/antimattermatters.png" alt="Antimatter Matters Exihibition">
<img src="assets/gallery/20190712_164936 copia.jpg" alt="Glue deposition on Upstream Tracker hybrid circuits">
<img src="assets/gallery/20211020_150357.jpg" alt="LHCb pit at point 8 (CERN)">
<img src="assets/gallery/202208-129__415.jpg" alt="The LHCb Upstream Tracker being mounted">
<img src="assets/gallery/20230426_110043.jpg" alt="The CERN globe exibition">
<img src="assets/gallery/H5A3_lateral.jpg" alt="Wirebonds details under the microscope">
<img src="assets/gallery/Pigtails_blocking_stave_supports_2.jpg" alt="Cables inside the UT box">
<img src="assets/gallery/Twocryst_RP2.png" alt="CAD view of the TWOCRYST roman pot">
<img src="assets/gallery/UT.png" alt="The Upstream Tracker and the beampipe inside the LHCb magnet">
<img src="assets/gallery/pentaquarks.png" alt="Pentaquarks (courtesy of CERN)">
<img src="assets/gallery/sigmab.png" alt="The observation of excited beauty baryons">

</div>


